.bookRow {
  border: 1px solid #f1f1f1;
  background-color: #fff;
  padding: 1.2rem;
}

.category,
.title,
.author {
  margin: 0;
  padding: 0 10px;
}

.category {
  color: #979797;
  font-weight: 700;
}

.author {
  color: #85b0d5;
}

.actions ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.actions ul li {
  padding: 0 10px;
  color: #85b0d5;
}

.actions ul li:not(:last-child) {
  border-right: 1px solid #d3d2d2;
  cursor: pointer;
}
