:root {
  --main-color: #0290ff;
  --secondary-color: #121212;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #f5f6fa;
}

nav .fas.fa-user {
  color: var(--main-color);
  cursor: pointer;
}
